{% extends 'base.html' %}
{% load static %}

{% block title%}
  Customer
{% endblock %}

{% block content %} 
<div class="pt-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="row  m-3">
                    <div class="col-sm-7">
                        <img src="{{room.room_image.url}}" width="100%" height="100%">
                    </div>
                    <div class="col-sm-5">
                        <h3 class="m-3">Room {{ room.room_number }}</h3>
                        <ul class="list-unstyled mt-5">
                            <li class="ml-5 mb-5">Type: {{ room.room_type}}</li>
                            <li class="ml-5 mb-5">Number of beds: {{ room.room_bed}}</li>
                            <li class="ml-5 mb-5">Capacity: {{room.room_capacity}}</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-head bg-dark text-light">
                    <h5 class="m-2">Your Booking details</h5>
                </div>
                <div class="card-body text-ilght">
                        <label for="">Check in:</label>
                        <p>{{check_in}}</p>
                        <label for="">Check out:</label>
                        <p>{{check_out}}</p>
                        {% if nights == 1 %}
                            <label for="">Total length of stay:</label>
                            <p>{{nights}} night</p>
                        {% else %}
                            <label for="">Total length of stay:</label>
                            <p>{{nights}} nights</p>
                        {% endif %}
                </div>
                <div class="card-footer">
                    <label for="">Price:</label>
                    <h4 class="float-right" id="price"></h4>
                    <form action="{% url 'payment' %}" method="POST"> {% csrf_token %}
                        <input type="submit" class="btn btn-success float-right" value="Next: Final details">
                        <input type="hidden" name="room" value="{{room.room_number}}">
                        <input type="hidden" name="check_in"  value="{{check_in}}">
                        <input type="hidden" name="check_out"  value="{{check_out}}">
                        <input type="hidden" name="email"  value="{{email}}">
                </div>
                <script>
                    document.getElementById("price").innerHTML = '₱' + ({{nights}}*{{room.room_price}}).toFixed(2) ;
                </script>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-head bg-dark text-light">
                    <h5 class="m-2">Customer details</h5>
                </div>
                <div class="card-body m-2">
                    <div class="col-sm-6">
                        
                                <div class="form-group">
                                    <label for="customer_fname">First name: </label>
                                    <input type="text" name='customer_fname' class="form-control" id="customer_fname" value="{{user.user_fname}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="customer_lname">Last name: </label>
                                    <input type="text" name='customer_lname' class="form-control" id="customer_lname" value="{{user.user_lname}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="customert_email">Email: </label>
                                    <input type="text" name='customer_email' class="form-control" id="customer_email" value="{{user.user_email}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="customer_phone">Mobile number: </label>
                                    <input type="text" name='customer_phone' class="form-control" id="customer_phone"  value="{{user.user_phone}}" required>
                                </div>

                                {% if success_message %}
                                    <h6 class="small text-success text-center">{{success_message}}</h6>
                                {% endif %}

                                
                            </form>
                    </div>
                    
                        
                </div>
                
            </div>
            
        </div>
        <div class="col-sm-3"></div>
    </div>
        
    
</div>


{% endblock %}




