{% extends 'base.html' %}

{% block title%}
   Home
{% endblock %}


{% block header %} 
    
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container">
                <a href="" class="navbar-brand">Hotel</a>
            <ul class="navbar-nav ml-auto">
                
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a href="" class="nav-link">Hello, {{request.user.user_fname}}</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">My Booking</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="" class="nav-link">My Booking</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link">Register</a>
                    </li>
                {% endif %}
            </ul>
            </div>
            
        </nav>
{% endblock%}

{% block content %} 
    <h1 class="text-center m-4">Hotel Rooms</h1>

    {% if room_list %}
    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Type</th>
                    <th>Beds</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for room in room_list %}
                <tr>
                    <td>{{ room.room_number }}</td>
                    <td>{{ room.room_type }}</td>
                    <td>{{ room.room_bed }}</td>
                    <td>{{ room.room_capacity }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> 
    {% endif %} 
{% endblock %}




